 .item {
  width: 260px;              /* smaller card */
  background-color: #e7c6ff; /* soft lavender */
  padding: 8px;
  border-radius: 18px;
}
.item img {
  width: 100%;
  height: 250px;             /* reduced height */
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.div1 {
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.des {
  font-size: 13px;
  color: #333;
}