* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #E7B6C2;
  color: white;
  padding: 15px 30px;
  z-index: 100;
    text-align: center;
    border-bottom: 1.65px solid #da849b;
}

.top-header p {
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
}

/* DASHBOARD LAYOUT */
.dashboard {
  display: flex;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}

/* SIDEBAR */
.sidebar {
  background: #E7B6C2;
  color: white;
  width: 220px;
  transition: width 0.3s;
  padding: 10px;
  border-right: 1.65px solid #da849b;
}

.sidebar.collapsed {
  width: 60px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.nav-list li i {
  font-size: 18px;
  width: 30px;
}

.nav-list li span {
  transition: opacity 0.3s;
}
.nav-list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
}

.nav-list li a:hover {
  background: rgba(178, 22, 58, 0.2);
}


.sidebar.collapsed span {
  opacity: 0;
}

/* PROFILE SECTION */
.profile-section {
  width: 400px;
  padding: 30px;
  background: #f0e0c9;
  text-align: center;
  border-radius: 10px;
  border-right: 1.65px solid #C98A9B;
  padding: 20px;
}

.profile-section img {
  width: 350px;
  height: 515px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.profile-section img:hover {
    transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.divider:hover {
    transform: translateY(-8px);
    background: #cc7c90;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.divider {
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    background-color: #cea2ae;
}

/* CARDS SECTION */
.cards-section {
  flex: 1;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #f0e0c9;
  padding-left: 40px;
  border-right: 2px solid rgba(201, 138, 155, 0.6);

}

.card {
    margin-top: 30px;
  background:  #e5cfd5;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-color: #1e293b;
  border: 3px solid #C98A9B;
  display: flex;
  flex-direction: column;
  height: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  margin-bottom: 8px;
  text-align: center;
}

.card p {
    display: flex;
  font-size: 14px;
  color: #6B5A5A;
  margin: auto 0;
    text-align: center;
    padding: 0 12px;
}


.card button {
    margin-top: auto;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  background: #C98A9B;
  color: white;
  cursor: pointer;
  width: 100%;
  
}

.card:hover {
    transform: translateY(-8px);
  background: #D49AA8;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.card button:hover {
    transform: translateY(-4px);
  background: #d46381;
}
.nav-list li {
  position: relative;
}

.nav-list li {
  position: relative;
}

/* ACTIVE DOT */
.nav-list li.active::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #dc486d;;
  border-radius: 50%;
  left: 10px; /* default (open sidebar) */
}

/* WHEN SIDEBAR IS COLLAPSED */
.sidebar.collapsed .nav-list li.active::before {
  left: 26px; /* center near icon */
}

span.main {
    font-size: 28px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #482828;
}

span.sub {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5c2e2e;
}

span.hehe {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5c3737;
}
span.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #552e2e;
}
span.Head{
    font-family: 
'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    font-size: 18px;
    font-weight: 700;
    color: #552e2e;
}
span.profile {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 24px;
    font-weight: 700;
    color: #602828;
} 
@media (max-width: 768px) {

  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .profile-section {
    width: 100%;
    border-right: none;
    margin-bottom: 20px;
  }

  .cards-section {
    padding-left: 20px;
  }

  .card {
    width: 100%;
  }
}


