.parentCon {
  background-color: rgb(184, 224, 237);
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 20px;
}

.parentCon h1 {
  font-family: serif;
  margin-bottom: 30px;
}

.fruitsList {
  display: flex;
  gap: 25px;
  justify-content: center;
}