.patrentDiv{
  width: 100%;
  height: 100vh;
  background-color: #e8dcc7;   /* your retro beige */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle{
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  margin-bottom: 80px;
  color: #b45309;   /* burnt orange */
  text-transform: uppercase;
}

body{
  margin: 0;
}