.parentCon{
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(
        to bottom,
        #f5f2eb 0%,
        #c9c3e6 45%,
        #f3a1a1 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding: 20px;
}

/* TITLE */
.gameTitle{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fffaf5;

    text-shadow:
        0px 4px 10px rgba(0,0,0,0.25),
        0px 0px 20px rgba(255,255,255,0.4);
}

/* SCORE */
.scoreText{
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin: 0;
}

/* WORD CIRCLES */
.inputDiv{
    display: flex;
    gap: 20px;
}

/* DESCRIPTION TEXT */
.parentCon p{
     color: rgba(255,255,255,0.9);
    font-size: 18px;
    text-align: center;
    max-width: 600px;
}

/* ALPHABET GRID */
.alphaList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 900px;
}

/* ALPHABET BUTTON */
.alpha{
    width: 48px;
    height: 48px;
    background: rgba(234, 143, 167, 0.685);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.alpha:hover{
    transform: translateY(-4px);
    background: rgba(178, 27, 27, 0.45);
}

/* REMOVE BUTTON */
button{
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(6px);
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    background: rgba(219, 91, 91, 0.5);
}

/* SUBMIT BUTTON */
.subBtn{
    width: 140px;
    height: 45px;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #8f87ff, #6c63ff);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.subBtn:hover{
    transform: translateY(-4px);
    background: linear-gradient(135deg, #6c63ff, #4e46d8);
}