/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f6f2ee;
}

#root {
  width: 100vw;
  min-height: 100vh;
}