* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  background: #4a7ce7;
  padding: 15px;
  text-align: center;
  z-index: 10;
  color: white;
}

.heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: #d6daeb;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  position: relative;   
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
    border: 1.5px solid rgb(72, 72, 148);
}

.card:hover {
  background-color: #97b6ef; 
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  cursor: pointer;
}

.card:hover h3,
.card:hover p {
  color: #032a60;
}

.card img {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
  object-fit: contain;
}

.card h3 {
  margin: 10px 0;
}

.badge {
  position: absolute;   
  top: 10px;
  right: 10px;
  background: #4f46e5;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
}


.footer {
    background-color: #4a7ce7;
  color: white;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  padding: 15px;
  text-align: center;
}

/* HOVER */
.footer a:hover {
  color: #C8C3FF;
  text-decoration: underline;
}


.footer-links {
  margin-top: 8px;
  margin-inline-start: auto;
  color: white;
}

.footer-links a {
  color: #e8eaeb;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.footer-links a:hover {
  text-decoration: underline;

}


@media (max-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .services {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .card img {
    width: 60px;
    height: 60px;
  }
}


