.card {
  width: 300px;
  height: 300px;
  background-color: rgba(209, 104, 104, 0.94);
  border-radius: 7px;
  margin: 10px;
  padding: 10px;
}

.h1 {
  color: rgb(234, 188, 129);
}

.p{
    color: rgb(72, 71, 71);;
}